<div> <a ui-sref=reports class="pull-right btn btn-primary btn-outline btn-rounded">Desculpas</a>
    <h2>Olá {{user.name}}
        <small ng-show="allMyReports.length == 1"> Você possui {{allMyReports.length}} desculpa em aberto.</small>
        <small ng-show="allMyReports.length != 1"> Você possui {{allMyReports.length}} desculpas em aberto.</small>
    </h2>
    <div ng-repeat="report in allMyReports"  ng-show="report.status == 1" class=jumbotron>
        <div class=container>
            <h3>{{report.student}} - {{report.title}}</h3> {{report.text}}<br><br>
            <p> <a ng-click="changeStatus(2, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Aceitar</a>
                <a ng-click="changeStatus(3, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Recusar</a>
            </p>
        </div>
    </div>
</div>