<div ng-if="user.type==2"> <a ui-sref=reports class="pull-right btn btn-primary btn-outline btn-rounded">Aceitar Todos</a>
    <h2>Olá {{user.name}}
        <small ng-show="allMyReports.length == 1"> Você possui {{allMyReports.length}} desculpa em aberto.</small>
        <small ng-show="allMyReports.length != 1"> Você possui {{allMyReports.length}} desculpas em aberto.</small>
    </h2>
    <div ng-repeat="report in allMyReports"  ng-show="report.status == 1" class=jumbotron>
        <div class=container>
            <h3>{{report.student}} - {{report.title}}</h3> {{report.text}}<br><br>
            <p> <a ng-click="changeStatus(2, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Aceitar</a>
                <a ng-click="changeStatus(3, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Recusar</a>
            </p>
        </div>
    </div>
</div>


<div ng-if="user.type==1"> <a ui-sref=reports class="pull-right btn btn-primary btn-outline btn-rounded">Criar Desculpa</a>
    <h2>Olá {{user.name}}
        <small ng-show="allMyReports.length == 1"> Você possui {{allMyReports.length}} desculpa em aberto.</small>
        <small ng-show="allMyReports.length != 1"> Você possui {{allMyReports.length}} desculpas em aberto.</small>
    </h2>



    <div class="jumbotron" style="background-color: #3ca2e0;">
        <div class=container>
            <form role=form ng-submit=submit()>
                <div class=form-content>
                    <div class=form-group> <input ng-model="apo.title" type=text class="form-control input-underline input-lg" placeholder=Título> </div>
                    <div class=form-group> <input ng-model="apo.text" type=text class="form-control input-underline input-lg" placeholder=Desculpa> </div>
                </div>
                <button type="submit" ng-show="register" class="btn btn-white btn-outline btn-lg btn-rounded">Enviar</button>
            </form>
        </div>
    </div>


    <div ng-repeat="report in allMyReports"  ng-show="report.status == 1" class=jumbotron>
        <div class=container>
            <h3>{{report.student}} - {{report.title}}</h3> {{report.text}}<br><br>
            <p> <a ng-click="changeStatus(2, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Aceitar</a>
                <a ng-click="changeStatus(3, report)" class="btn btn-primary btn-lg btn-outline btn-rounded">Recusar</a>
            </p>
        </div>
    </div>
</div>