<div> <a ui-sref=reports class="pull-right btn btn-primary btn-outline btn-rounded">Desculpas</a>
    <h2>Olá {{user.name}} <small> Você possui "N" desculpas em aberto.</small></h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Olá!</h1> Este portal é uma alternativa de local para organizar todas as desculpas de faltas, trabalhos não feitos ou atrasados e pedidos de reconsideração dos alunos!<br><br>
            <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>
        </div>
    </div>
</div>